<!DOCTYPE html>
<html lang="pt-BR" layout:decorate="~{layout/layoutpadrao}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>Confirmar Remoção de Doador</title>
  </head>
  <body>
    <!-- conteúdo principal -->
    <main layout:fragment="conteudo" th:fragment="confirmacao" id="main" class="flex flex-col w-full">
      <h1 class="text-2xl mt-10 ml-10">Remoção de Doador</h1>

      <h1 class="text-xl mt-10 ml-10">Você tem certeza que deseja remover o doador?</h1>

      <div class="mt-10 ml-10">
        <h2 th:text="'CPF: ' + ${doador.cpf}"></h2>
        <h2 th:text="'Nome: ' + ${doador.nome}"></h2>
        <h2 th:text="'Tipo Sanguíneo: ' + ${doador.tipoSanguineo}"></h2>
      </div>

      <div class="mt-10 ml-10 flex">
        <form th:hx-get="@{/doadores/pesquisar}" hx-target="#main" hx-swap="outerHTML">
          <button type="submit" class="py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-blue-100 text-blue-800 hover:bg-blue-200 focus:outline-none focus:bg-blue-200 disabled:opacity-50 disabled:pointer-events-none">Voltar</button>
        </form>
        <form th:hx-post="@{/doadores/remover}" hx-target="#main" hx-swap="outerHTML" class="ml-10">
          <input type="hidden" name="cpf" th:value="${doador.cpf}" />
          <input type="hidden" name="nome" th:value="${doador.nome}" />
          <input type="hidden" name="tipoSanguineo" th:value="${doador.tipoSanguineo}" />
          <button type="submit" class="py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-red-100 text-red-800 hover:bg-red-200 focus:outline-none focus:bg-red-200 disabled:opacity-50 disabled:pointer-events-none">Remover</button>
        </form>
      </div>
    </main>
    <!-- !conteúdo principal -->
  </body>
</html>
