<!DOCTYPE html>
<html lang="pt-BR" layout:decorate="~{layout/layoutpadrao}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>Todos os Doadores</title>
  </head>
  <body>
    <!-- conteúdo principal -->
    <main layout:fragment="conteudo" class="flex flex-col w-full">
      <h1 class="text-2xl mt-10 ml-10">Todos os Doadores</h1>

      <div class="flex flex-col md:ms-16 md:w-2/3 mt-5">
        <div class="-m-1.5 overflow-x-auto">
          <div class="p-1.5 min-w-full inline-block align-middle">
            <div class="border rounded-xl overflow-hidden shadow">
              <table class="min-w-full divide-y divide-gray-200">
                <thead>
                  <tr>
                    <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">CPF</th>
                    <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Nome</th>
                    <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Tipo Sanguíneo</th>
                    <th scope="col" colspan="2" class="px-6 py-3 text-end text-xs font-medium text-gray-500 uppercase">Ações</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="doador : ${doadores}" class="odd:bg-white even:bg-gray-100 hover:bg-gray-200">
                    <td th:text="${doador.cpf}" class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800"></td>
                    <td th:text="${doador.nome}" class="px-6 py-4 whitespace-nowrap text-sm text-gray-800"></td>
                    <td th:text="${doador.tipoSanguineo}" class="px-6 py-4 whitespace-nowrap text-sm text-gray-800"></td>
                    <td class="px-6 py-4 whitespace-nowrap text-end text-sm font-medium">
                      <form th:hx-post="@{/doadores/abriralterar}" hx-target="#main" hx-swap="outerHTML">
                        <input type="hidden" name="cpf" th:value="${doador.cpf}" />
                        <button type="submit" class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-blue-100 text-blue-800 hover:bg-blue-200 focus:outline-none focus:bg-blue-200">
                          Alterar
                        </button>
                      </form>
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-end text-sm font-medium">
                      <form th:hx-post="@{/doadores/confirmarremocao}" hx-target="#main" hx-swap="outerHTML">
                        <input type="hidden" name="cpf" th:value="${doador.cpf}" />
                        <button type="submit" class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-red-100 text-red-800 hover:bg-red-200 focus:outline-none focus:bg-red-200">
                          Remover
                        </button>
                      </form>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- !conteúdo principal -->
  </body>
</html>
