<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <title>HemoWeb - Menu</title>
</head>
<body>
    <nav th:fragment="menu" class="mt-10">
        <!-- Primeiro Item: Doadores -->
        <div x-data="{ open: false }">
            <button @click="open = !open" class="flex w-48 cursor-pointer items-center justify-between py-3 text-gray-400 hover:text-white focus:outline-none">
                <span class="flex items-center">
                    <!-- Ícone -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                        <path d="M8 8a3 3 0 1 0-6 0 3 3 0 0 0 6 0z"/>
                        <path fill-rule="evenodd" d="M8 10a5 5 0 0 0-5 5v1h10v-1a5 5 0 0 0-5-5z"/>
                    </svg>
                    <!-- Texto -->
                    <span class="ms-2">Doadores</span>
                </span>
                <!-- Seta -->
                <span>
                    <svg class="h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path x-show="! open" d="M9 5L16 12L9 19" style="display: none"></path>
                        <path x-show="open" d="M19 9L12 16L5 9"></path>
                    </svg>
                </span>
            </button>
            <!-- Submenu: Doadores -->
            <div x-show="open" class="space-y-4 ps-10">
                <div class="flex items-center hover:text-white">
                    <!-- Ícone -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus" viewBox="0 0 16 16">
                        <path d="M6 8a3 3 0 1 0-6 0 3 3 0 0 0 6 0z"/>
                        <path fill-rule="evenodd" d="M8 10a5 5 0 0 0-5 5v1h4a5 5 0 0 1-4-5 5 5 0 0 1 4-5h4v-1h-4a5 5 0 0 0-4 5 5 5 0 0 0 4 5v1h-4a5 5 0 0 0 4-5v-1a5 5 0 0 1 4-5 5 5 0 0 1-4 5z"/>
                        <path d="M13 6h3m-1.5-1.5v3"/>
                    </svg>
                    <!-- Texto -->
                    <a th:href="@{/doadores/cadastrar}" class="px-2 text-gray-400 hover:text-white">Cadastrar</a>
                </div>
                <div class="flex items-center hover:text-white">
                    <!-- Ícone -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1z"/>
                        <path d="M12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                    </svg>
                    <!-- Texto -->
                    <a th:href="@{/doadores/pesquisar}" class="px-2 text-gray-400 hover:text-white">Pesquisar</a>
                </div>
            </div>
        </div>

        <!-- Segundo Item: Bolsas de Sangue -->
        <div x-data="{ open: false }">
            <button @click="open = !open" class="flex w-48 cursor-pointer items-center justify-between py-3 text-gray-400 hover:text-white focus:outline-none">
                <span class="flex items-center">
                    <!-- Ícone -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-droplet" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 0a5 5 0 0 1 5 5c0 3.138-3.75 8.625-5 8.625-1.25 0-5-5.487-5-8.625A5 5 0 0 1 8 0z"/>
                    </svg>
                    <!-- Texto -->
                    <span class="ms-2">Bolsas</span>
                </span>
                <!-- Seta -->
                <span>
                    <svg class="h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path x-show="! open" d="M9 5L16 12L9 19" style="display: none"></path>
                        <path x-show="open" d="M19 9L12 16L5 9"></path>
                    </svg>
                </span>
            </button>
            <!-- Submenu: Bolsas -->
            <div x-show="open" class="space-y-4 ps-10">
                <div class="flex items-center hover:text-white">
                    <!-- Ícone -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-down" viewBox="0 0 16 16">
                        <path d="M3.5 14a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 .5.5v10a.5.5 0 0 1-.5.5h-9zM8 1.5V12h3.5L8 1.5z"/>
                        <path d="M11 14v1h2v-1a.5.5 0 0 1 .5-.5h2v-1h-2a.5.5 0 0 1-.5-.5v-2h-1v2z"/>
                    </svg>
                    <!-- Texto -->
                    <a th:href="@{/bolsas/cadastrar}" class="px-2 text-gray-400 hover:text-white">Cadastrar</a>
                </div>
                <div class="flex items-center hover:text-white">
                    <!-- Ícone -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1z"/>
                        <path d="M12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                    </svg>
                    <!-- Texto -->
                    <a th:href="@{/bolsas/pesquisar}" class="px-2 text-gray-400 hover:text-white">Pesquisar</a>
                </div>
            </div>
        </div>
    </nav>
</body>
</html>
