<table class="w-full text-sm bg-white shadow-md rounded-lg mt-6">
    <thead>
        <tr class="bg-red-600 text-white">
            <th class="px-4 py-2 text-center">CPF</th>
            <th class="px-4 py-2 text-center">Nome</th>
            <th class="px-4 py-2 text-center">E-mail</th>
            <th class="px-4 py-2 text-center">Cargo</th>
            <th class="px-4 py-2 text-center">Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="usuario : ${usuarios}" class="hover:bg-gray-500 odd:bg-gray-100 text-gray-800">
            <td th:text="${usuario.cpf}" class="px-4 py-2 text-center border-b border-gray-300"></td>
            <td th:text="${usuario.nome}" class="px-4 py-2 text-center border-b border-gray-300"></td>
            <td th:text="${usuario.email}" class="px-4 py-2 text-center border-b border-gray-300"></td>
            <td th:text="${usuario.cargo}" class="px-4 py-2 text-center border-b border-gray-300"></td>
            <td class="px-4 py-2 text-center border-b border-gray-300">
                <a th:href="@{/usuarios/alterar/{cpf}(cpf=${usuario.cpf})}" class="text-blue-500 hover:text-blue-700 hover:underline mr-4">
                    Editar
                </a>
                <form th:action="@{/usuarios/remover}" method="post" style="display: inline;">
                    <input type="hidden" name="cpf" th:value="${usuario.cpf}" />
                    <button type="submit" class="text-red-500 hover:text-red-700 hover:underline bg-transparent border-none cursor-pointer">
                        Remover
                    </button>
                </form>
            </td>
        </tr>
    </tbody>
</table>

<div class="text-white my-2 flex justify-center items-center gap-4">
    <a th:if="${pageUsuarios.hasPrevious()}" 
       class="font-bold cursor-pointer text-blue-400 hover:text-blue-600"
       onclick="carregarPaginaAnterior()">⏪ Anterior</a>

    <span>Página <span th:text="${pageUsuarios.number + 1}"></span> de 
        <span th:text="${pageUsuarios.totalPages}"></span>
    </span>

    <a th:if="${pageUsuarios.hasNext()}" 
       class="font-bold cursor-pointer text-blue-400 hover:text-blue-600"
       onclick="carregarProximaPagina()">Próxima ⏩</a>

    <div th:text="${nextPageUrl}" id="nextPageUrl" class="hidden"></div>
    <div th:text="${previousPageUrl}" id="previousPageUrl" class="hidden"></div>
</div>

<script src="https://unpkg.com/htmx.org"></script>
<script>
    async function carregarProximaPagina() {
        const url = document.getElementById("nextPageUrl").textContent;

        htmx.ajax('GET', url, {
            target: '#usuarios-container'  // Substitui o conteúdo do container
        });
    }

    async function carregarPaginaAnterior() {
        const url = document.getElementById("previousPageUrl").textContent;

        htmx.ajax('GET', url, {
            target: '#usuarios-container'  // Substitui o conteúdo do container
        });
    }
</script>
