<table class="w-full text-sm bg-white shadow-md rounded-lg mt-6">
    <thead>
        <tr class="bg-red-600 text-white">
            <th class="px-4 py-2 text-center">ID</th>
            <th class="px-4 py-2 text-center">Status</th>
            <th class="px-4 py-2 text-center">Data</th>
            <th class="px-4 py-2 text-center">Volume</th>
            <th class="px-4 py-2 text-center">Local</th>
            <th class="px-4 py-2 text-center">CPF do Doador</th>
            <th class="px-4 py-2 text-center">Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="bolsa : ${bolsas}" class="hover:bg-gray-500 odd:bg-gray-100 text-gray-800">
            <td th:text="${bolsa.id}" class="px-4 py-2 text-center border-b border-gray-300"></td>
            <td th:text="${bolsa.status ? 'Disponível' : 'Indisponível'}" class="px-4 py-2 text-center border-b border-gray-300"></td>
            <td th:text="${bolsa.data}" class="px-4 py-2 text-center border-b border-gray-300"></td>
            <td th:text="${bolsa.volume}" class="px-4 py-2 text-center border-b border-gray-300"></td>
            <td th:text="${bolsa.local}" class="px-4 py-2 text-center border-b border-gray-300"></td>
            <td th:text="${bolsa.cpfDoador}" class="px-4 py-2 text-center border-b border-gray-300"></td>
            <td class="px-4 py-2 text-center border-b border-gray-300">
                <a th:href="@{/bolsas/alterar/{id}(id=${bolsa.id})}" class="text-blue-500 hover:text-blue-700 hover:underline mr-4">
                    Editar
                </a>
                <form th:action="@{/bolsas/remover}" method="post" style="display: inline;">
                    <input type="hidden" name="id" th:value="${bolsa.id}" />
                    <button type="submit" class="text-red-500 hover:text-red-700 hover:underline bg-transparent border-none cursor-pointer">
                        Remover
                    </button>
                </form>
            </td>
        </tr>
    </tbody>
</table>