<table class="w-full text-sm bg-white shadow-md rounded-lg mt-6">
    <thead>
        <tr class="bg-red-600 text-white">
            <th class="px-4 py-2 text-center">CPF</th>
            <th class="px-4 py-2 text-center">Nome</th>
            <th class="px-4 py-2 text-center">E-mail</th>
            <th class="px-4 py-2 text-center">Telefone</th>
            <th class="px-4 py-2 text-center">Endereço</th>
            <th class="px-4 py-2 text-center">Nascimento</th>
            <th class="px-4 py-2 text-center">Tipo Sanguíneo</th>
            <th class="px-4 py-2 text-center">Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="doador : ${doadores}" class="hover:bg-gray-500 odd:bg-gray-100 text-gray-800">
            <td th:text="${doador.cpf}" class="px-4 py-2 text-center border-b border-gray-300"></td>
            <td th:text="${doador.nome}" class="px-4 py-2 text-center border-b border-gray-300"></td>
            <td th:text="${doador.email}" class="px-4 py-2 text-center border-b border-gray-300"></td>
            <td th:text="${doador.telefone}" class="px-4 py-2 text-center border-b border-gray-300"></td>
            <td th:text="${doador.endereco}" class="px-4 py-2 text-center border-b border-gray-300"></td>
            <td th:text="${doador.nascimento}" class="px-4 py-2 text-center border-b border-gray-300"></td>
            <td th:text="${doador.tipoSanguineo}" class="px-4 py-2 text-center border-b border-gray-300"></td>
            <td class="px-4 py-2 text-center border-b border-gray-300">
                <a th:href="@{/doadores/alterar/{cpf}(cpf=${doador.cpf})}" class="text-blue-500 hover:text-blue-700 hover:underline mr-4">
                    Editar
                </a>
                <form th:action="@{/doadores/remover}" method="post" style="display: inline;">
                    <input type="hidden" name="cpf" th:value="${doador.cpf}" />
                    <button type="submit" class="text-red-500 hover:text-red-700 hover:underline bg-transparent border-none cursor-pointer">
                        Remover
                    </button>
                </form>
            </td>
        </tr>
    </tbody>
</table>
