<!DOCTYPE html>
<html lang="pt-BR" layout:decorate="~{layout/layoutpadrao}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>Página Principal</title>
  </head>
  <body>
    <!-- Conteúdo Principal -->
    <main layout:fragment="conteudo" id="main" class="flex flex-col align-middle justify-center w-full">
      <h1 class="text-2xl md:text-4xl text-center">Bem-vindo ao Sistema HemoWeb</h1>
      <p class="text-lg text-center mt-4 text-gray-600">
        Gerencie doadores, bolsas de sangue e relatórios de forma eficiente e organizada.
      </p>
      <img th:src="@{/images/doesangue.png}" class="mt-10 mx-auto block h-64 w-64" alt="Logo HemoWeb" />
    </main>
    <!-- Fim do Conteúdo Principal -->

    <!-- Scripts adicionais, caso necessário -->
    <!-- <th:block layout:fragment="scripts">
        <script src="../static/js/index.js" th:src="@{/js/index.js}"></script>
    </th:block> -->
  </body>
</html>
